.todo-container {
  display: flex;
  flex-direction: column;
  width: 512px;
  height: 90%;
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
}

.todo-header {
  padding: 32px 32px 24px 32px;
  border-bottom: 1px solid #e9ecef;
}

.todo-header h1 {
  margin: 0;
  font-size: 36px;
  color: #343a40;
  font-weight: bold;
}

.todo-header p {
  margin-top: 12px;
  color: #999;
}

.todo-list-container {
  flex: 1;
  padding: 20px 32px;
  overflow-y: auto;
}

.todo-item-wrapper {
  display: flex;
  padding: 12px 0;
}

.todo-item-wrapper .todo-item-check {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid #ced4da;
  display: flex;
  margin-right: 20px;
  cursor: pointer;
}

.todo-item-wrapper .todo-item-check:checked {
  border: 1px solid #38d9a9;
  color: #38d9a9;
}

.todo-item-wrapper .todo-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #495057;
}

.todo-item-wrapper .todo-item-header {
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: bold;
  color: #495057;
}

.todo-item-wrapper .todo-item-header .todo-item-title {
  flex: 1;
  cursor: pointer;
  padding: 10px 0;
}

.todo-item-wrapper .todo-item-header .todo-item-update {
  font-size: 24px;
  margin-right: 6px;
}

.todo-item-wrapper .todo-item-content {
  color: #495057;
  padding: 12px;
  line-height: 160%;
}

.todo-create-container {
  display: flex;
  padding: 20px 32px;
  background: #f8f9fa;
  border-top: 1px solid #e9ecef;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.todo-create-container .todo-create-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.todo-create-container .todo-form-header {
  display: flex;
}

.todo-create-container .todo-form-title {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #dee2e6;
  width: 100%;
  font-size: 18px;
  box-sizing: border-box;
}

.todo-create-container .todo-form-content {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #dee2e6;
  width: 100%;
  height: 150px;
  font-size: 18px;
  box-sizing: border-box;
  resize: none;
}

.todo-create-container .todo-form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: white;
  background: #38d9a9; */
  font-size: 24px;
}

/* .todo-create-container .todo-form-submit:hover {
  background: #63e6be;
}

.todo-create-container .todo-form-submit:active {
  background: #20c997;
} */